header {
	ul {
		a {
			color: black;
			border-radius: 20px;
			box-shadow: 0px 0px 5px gray;
			transition: all 1s;
			&:hover {
				background-color: $colorTransparenteMedio;
				box-shadow: 1px 1px 15px $colorAgua;
				transition: all 1s;
			}
		}
	}
	.imglogo {
		width: 35px;
	}
	.no{
		color: black;
		padding: 5px;
		margin: 5px;
	&:hover {
		background-color: $colorTransparente;
	}
	}
}